<template>
    <div class='dinner'>
        <div class="bottom"> 
            <left></left>
            <right></right>
        </div>
         <sum  @show="show"></sum>
         <myselect v-show="flag" @noshow="noshow"></myselect>
    </div>
</template>
<script>
import left from "@/components/left";
import right from "@/components/right";
import sum from "@/components/sum";
import myselect from "@/components/select";
export default {
    name:"dinner",
    components:{
        left:left,
        right:right,
        sum:sum,
        myselect:myselect
    },
    data(){
        return {
         flag:false
        }
    },
    methods:{
      show(data){
          this.flag = data;
      },
      noshow(data){
          this.flag = data;
      }
    }
}
</script>
<style lang="scss" scoped>
.dinner{
    width:100%;
    height:calc(100% - 50px);
}
.bottom{
  width:100%;
  height:calc(100% - 40px);
  display: flex;
}
</style>
