<template>
    <div class="left">
       <ul>
           <li v-for="(val,index) in leftData" :key="index" :class="index==ind?'active':''" @click="changeClass(index)">
               {{val.categoryName}}
               <div class="circle" :class="val.every==0?'active':''">{{val.every}}</div>
           </li>
       </ul>
    </div>
</template>
<script>
import {mapState} from "vuex";
export default {
    name:"left",
    data(){
       return{
           ind:0
       }
    },
    computed:{
        ...mapState({
            leftData:(state) =>{
                return state.List
            }
        })
    },
    methods:{
        changeClass(i){
            this.ind=i;
            //将下标传递给right组件
            this.$bus.$emit("index",i);
        }
    },
    created(){
        this.$bus.$on("leftindex",(i) => {
            this.ind = i;
        })
    }
}
</script>
<style lang="scss" scoped>
  .left{
    width:30%;
    background:#eee;
    ul li{
        width:100%;
        height:35px;
        line-height:35px;
        text-align:center;
        border-bottom:1px solid #ccc;
        font-size:12px;
        position: relative;
        &.active{
            background:white;
            color:blue;
        }
    }
  }
  .circle{
      width:15px;
      height:15px;
      border-radius: 50%;
      background:red;
      position: absolute;
      right:3px;
      top:10px;
      text-align:center;
      line-height:15px;
      color:white;
      font-size:10px;
      &.active{
          display: none;
      }
  }
</style>


