<template>
    <li>
        <div class="img">
           <img :src="item.littleImageUrl"/>
        </div>
        <div class="font">
            <p>{{item.spuName}}</p>
            <div class="opera">
                <p class="price">￥{{item.currentPrice}}</p>
                <div class="add-reduce" :class="item.number==0?'active':''">
                    <span class="reduce" @click="operation(item,leftname,'reduce')">-</span>
                    <span class="num">{{item.number}}</span>
                    <span class="add" @click="operation(item,leftname,'add')">+</span>
                </div>
            </div>
        </div>
    </li>
</template>
<script>
import {mapMutations} from "vuex";
export default {
    name:"myli",
    props:["item","leftname"],
    methods:{
       operation(item,name,opera){
           this.$store.commit("operation",{
               item,
               name,
               opera
           })
       }
    }
}
</script>
<style lang="scss" scoped>
li{
    padding:10px 0px;
    padding-right:5px;
    display: flex;
    .img{
       width:80px;
       height:80px;
       flex-shrink: 0;
       img{
           width:100%;
           height:100%;
       }
    }
    .font{
        margin-left:10px;
        flex-grow:1;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        .opera{
            height:30px;
            display:flex;
            justify-content: space-between;
            >p{
                line-height:30px;
                height:100%;
            }
            .price{
                color:orange;
                font-weight:bold;
                font-size:13px;
            }
        }
    }
}
.add-reduce{
    display: flex;
    width:60px;
    height:100%;
    justify-content: space-between;
    align-items: center;
    .add,.reduce{
        display: block;
        height:20px;
        width:20px;
        border-radius: 50%;
        text-align:center;
        line-height:20px;
    }
    .reduce{
        border:1px solid blue;
    }
    .add{
        background:blue;
        color:white;
    }
    .num{
        display: block;
    }
}
.add-reduce.active{
    .reduce,.num{
        visibility: hidden;
    }
}
</style>
