<template>
    <div class="nav">
        <div v-for="(item,index) in navList" :key="index" class="li" @click="changeClass(index,item)" :class="ind==index?'active':''">
           <div>{{item.name}}</div>
        </div>
        <div class="line" :style="{left:leftVal+'px'}"></div>
    </div>
</template>
<script>
export default {
    name:"mynav",
    data(){
        return {
            navList:[{
                id:1,
                name:"点餐",
                eng:"dinner"
            },{
                id:2,
                name:"评价",
                eng:"common"
            },{
                id:3,
                name:"商家",
                eng:"mystore"
            }],
            ind:0,
            width:window.innerWidth
        }
    },
    computed:{
        leftVal(){
            //获取视口宽度
            let width = this.width;
            return width * 0.33 * (this.ind+1) - width * 0.1625 -20;
        } 
    },
    mounted(){
        let that=this;
        window.onresize=function(){
           that.width = window.innerWidth;
        }
    },
    methods:{
        changeClass(i,item){
          this.ind = i;
          this.$router.push({
              name:item.eng
          })
        }
    }
}
</script>
<style lang="scss" scoped>
.nav{
    display: flex;
    flex-shrink: 0;
    width:100%;
    height:50px;
    align-items:center;
    border-bottom:1px solid #ccc;
    position: relative;
    .li{
        width:33.3%;
        text-align:center;
        font-size:14px;
      &.active{
          font-weight: bold;
      }
    }
    .line{
            position:absolute;
            width:40px;
            height:2px;
            background:blue;
            bottom:-2px;
            left:calc(33.3% - 16.25% - 20px);
            transition: all 1s;
    }
}
</style>


