<template>
    <div class="right" ref="right">
        <div class="right-ul">
        <div class="right-li" v-for="(val,index) in rightData" :key="index" ref="rightLi">
            <p>{{val.categoryName}}</p>
            <ul>
                <myli v-for="(item,i) in val.spuList" :key="i" :item="item" :leftname="val.categoryName"></myli>
            </ul>
        </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import myli from "./li";
import BScroll from "better-scroll";
export default {
    name:"right",
    computed:{
        ...mapState({
            rightData:(state) =>{
                return state.List
            }
        })
    },
    components:{
        myli:myli
    },
    mounted(){
        let liArr = [];
        let offsetArr = [];
        let trueArr = [];
        let that = this;
        //通过异步的方式来获取这个liArr,或者使用this.$nextTick
        setTimeout(() => {
            liArr = that.$refs.rightLi;
            liArr.forEach((item,index) => {
                offsetArr.push(item.offsetHeight);
            })
            offsetArr.reduce((prev,next) => {
                trueArr.push(prev);
                return prev+next;
            },0)
        },0)
        let better = new BScroll(this.$refs.right,{
            click:true,
            probeType:2
        });
        better.on("scroll",(a) => {
             let scrollY = Math.abs(a.y);
             trueArr.forEach((item,index) => {
                 if(scrollY >= item){
                     //发送index更改左侧的类名
                     this.$bus.$emit("leftindex",index);
                 }
             })

        })
        this.$bus.$on("index",(i) => {
               better.scrollToElement(liArr[i],1000);
        })
    }
}
</script>
<style lang="scss" scoped>
.right{
    width:70%;
    height:100%;
    overflow:hidden;
    padding-left:10px; 
    font-size:13px;
    .right-li{
       >p{
        border-bottom:1px solid #ccc;
        height:40px;
        line-height:40px;
       }
    }
}
</style>

