<template>
   <div class="select" @click="notShow">
       <div class="white">
           <div class="white-head">
               <p>已选商品</p>
               <p @click="kong">清空</p>
           </div>
           <div class="white-bottom">
               <ul v-for="(itm,i) in selected" :key="i">
                   <li v-for="(item,index) in itm.spuList" :key="index" v-show="item.number !== 0">
                       <p>{{item.spuName}}</p>
                       <p class="price">￥{{item.currentPrice}}</p>
                       <div class="add-reduce">
                            <span class="reduce" @click="operation(item,itm.categoryName,'reduce')">-</span>
                            <span class="num">{{item.number}}</span>
                            <span class="add" @click="operation(item,itm.categoryName,'add')">+</span>
                        </div>
                   </li>
               </ul>
           </div>
       </div>
   </div> 
</template>
<script>
import {mapState,mapGetters,mapMutations} from "vuex";
export default {
    name:"myselect",
    computed:{
    ...mapState({
        selected:(state) => {
            return state.List
        }
    }),
    ...mapGetters({
        len:"selected"
    })
    },
    methods:{
        operation(item,name,opera){
             this.$store.commit("operation",{
                  item,
                  name,
                  opera
             })
            //如果length的长度为0;遮罩消失
            if(this.len == 0){
               this.$emit("noshow",false);
            }
        },
        notShow(e){
            if(e.target.className == "select"){
                 this.$emit("noshow",false);
            }
        },
        kong(){
            //数据恢复number为0,遮罩消失
            this.$store.commit("kong");
            this.$emit("noshow",false);
        }
    }
}
</script>
<style lang="scss" scoped>
.select{
    position: absolute;
    width:100%;
    height:calc(100% - 40px);
    background:rgba(0,0,0,.4);
    left:0;
    bottom:40px;
}
.white{
    background:white;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    .white-head{
        width:100%;
        height:40px;
        line-height:40px;
        background:#eee;
        display:flex;
        justify-content: space-between;
        padding:0 10px;
    }
    .white-bottom{
        width:100%;
        max-height:150px;
        overflow:auto;
        ul{
            li{
                display: flex;
                border-bottom:1px solid #ccc;
                justify-content: space-between;
                padding:0 5px;
                height:40px;
                line-height:40px;
                >p{
                    width:130px;
                    flex-shrink: 0;
                    font-size:15px;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
.add-reduce{
    display: flex;
    width:50px;
    flex-shrink: 0;
    height:100%;
    justify-content: space-between;
    align-items: center;
    .add,.reduce{
        display: block;
        height:20px;
        width:20px;
        border-radius: 50%;
        text-align:center;
        line-height:20px;
    }
    .reduce{
        border:1px solid blue;
    }
    .add{
        background:blue;
        color:white;
    }
    .num{
        display: block;
    }
}
.price{
    font-weight: bold;
    color:orange;
}
</style>
