<template>
    <div class="sum" @click="show">
        <div class="sum-l">
            <div class="circle">
                <i class="iconfont icon-gouwuche"></i>
                <div class="all-num">{{num}}</div>
            </div>
            <div class="price">￥{{sum}}</div>
        </div>
        <div class="sum-r">
            <div class="button">去结算</div>
        </div>
    </div>
</template>
<script>
import {mapState, mapGetters} from "vuex";
export default {
    name:"sum",
    computed:{
       ...mapState({
           num:(state) => {
               return state.num
           },
           sum:(state) => {
               return state.sum
           }
       }),
       len(){
          return this.$store.getters.selected
       }
    },
    methods:{
        show(e){
           //向dinner组件发送,显示弹框
            if(e.target.className !== "button"){
                if(this.len!==0){
                   this.$emit("show",true);
                }
            }else{
                alert("正在去结算");
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.sum{
  width:100%;
  height:40px;
  background:black;
  display:flex;
  padding-left:5px;
  justify-content: space-between;
  align-items: center;
  .sum-l{
     display: flex;
     align-items: center;
     .circle{
         width:33px;
         height:33px;
         border-radius: 50%;
         background:blue;
         color:white;
         text-align:center;
         line-height:33px;
         position: relative;
     }
     .price{
         margin-left:10px;
         color:white;
         font-weight: bold;
     }
  }
  .sum-r{
      .button{
          width:100px;
          background:green;
          color:white;
          height:100%;
          line-height:40px;
          text-align:center;
      }
  }
}
.all-num{
      width:15px;
      height:15px;
      border-radius: 50%;
      background:red;
      position: absolute;
      right:-3px;
      top:-5px;
      text-align:center;
      line-height:15px;
      color:white;
      font-size:10px;
}
</style>
