<template>
  <div id="app">
    <mynav></mynav>
    <router-view></router-view>
  </div>
</template>

<script>
import mynav from "./components/nav";
export default {
  name: 'App',
  mounted(){
    this.$store.dispatch({
      type:"update"
    })
  },
  components:{
    mynav:mynav
  }
}
</script>

<style>
@import url("./assets/fonts/iconfont.css");
*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body,html,#app{
  width:100%;
  height:100%;
}
#app{
  display: flex;
  flex-direction: column;
  position: relative;
}
</style>
